<extend name = "./Public/public"/>
<block name="show">
	<div class="brand_bar">
	    <ul>
	        <li style="background:url(__PUBLIC__/Home/Picture/nvNav_1920x300.jpg) no-repeat;">
	        </li>
	    </ul>
	</div>
	<br><br>
	<ul class="goods-list clear">
	<foreach name='goodsList' item='vo'>
	    <li gtype="1" g_type="1"  re="" id="{$vo.id}" >
	        <div class="list-good buy">
	            <div class="good-pic">
	                <a href="{:U('Home/Goods/show',array('gid'=>$vo[id]))}" class="pic-img" target="_blank" data-value="goods#1_1">
	                    <img alt="{$vo.name}" src="__PUBLIC__{$vo.pic}" class="lazy" d-src="" width="285px" />
	                    <span class="new-icon">新品</span>                    
	                </a>
	            </div>
	            <h3 class="good-title">

	                [包邮]<a href="{:U('Home/Goods/show',array('gid'=>$vo[id]))}" target="_blank">{$vo.name}</a>
	                <div class="icon-all" style="display:none;">
	            <span class="sold">剩4天</span>
	            </h3>
	            <div class="good-price">
	                <span class="price-current" ><em>￥</em>{$vo.price}</span>
	                <span class="des-other">
	                    <strong></strong>
	                    <span class="price-old"><em>￥</em></span>
	                    <span class="discount">(<em>1</em>折)</span>
	                </span>
	                <div class="btn buy t-buy">
	                    <a href="{:U('Home/Goods/show',array('gid'=>$vo[id]))}" target="_blank" rel="nofollow"><em class="t-icon"></em><span>淘宝</span></a>
	                </div>
	            </div>
	            <!-- like -->
	            <a class="" data-gid="{$vo.id}" data-gtype="1" lkid="77432594" lks="1"  gtype="1"  title="加入收藏">
	                <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
	            </a>
	            <!-- end like -->
	            <div class="box-hd" style="display:block;clear:both;">
	            </div>
	        </div>
	    </li>
	</foreach>
	</ul>

</block>
