<extend name="./Public/public" />
<block name="show">
<!-- 新版 -->
<div class="main pr mt20 clear">
<div class="mall_item_info">
<div class="place-show">
    <div class="place-explain fl">
                        <a href="####.juanpi.com">卷皮折扣</a>
            &gt;
                                    <a href="http://shop.juanpi.com">特卖精选</a>
            &gt;
                                                    <a class="bady-xx-seo" href="http://shop.juanpi.com/deal/9519108">旅行隔脏防脏成人睡袋</a>
                            </div>
    <div class="djs" style="right:20px;">剩余：<span><em id="d"></em>天<em id="h"></em>时<em id="m"></em>分<em id="s"></em>秒</span></div>
</div>
<div class="goods_show clear" data-gid="9519108">
    <div class="deal-pic fl">

<div class="goods-left-l fl">
                <div id="small" class="goods-left-count">
    <!-- 遍历商品主图 -->
                    <img id="simg" width="100%" src="__PUBLIC__{$goods.pic}" >
                    <div id="move" style="background:url('__PUBLIC__/Home/images/bg.png');width: 100px;height: 100px;position:absolute;left:40px;top:80px;display:none;"></div>
                </div>
                <div class="big" id="big"><img id="bimg" style="position: absolute;left:460px;top:280px ;width:400px;height:400px;z-index: 10;display:none;"  src="__PUBLIC__{$goods.pic}"></div>
                <div class="d">
                    <ul id="uimg">
                    <foreach name="goods_images" item="vo">
    <!-- 遍历商品小图 -->
                        <li class="small fl"><img width="100%" src="__PUBLIC__{$vo.name}"></li>
                    </foreach>
                    </ul>
                </div>  
            </div>
    </div>
    <script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function(){
        $("bimg").jqueryzoom();
    });
</script>
<script type="text/javascript">
    // 获取元素对象
    var small = document.getElementById('small');
    var move = document.getElementById('move');
    var big = document.getElementById('big');
    var bimg = document.getElementById('bimg');
    var simg = document.getElementById('simg');
    move.onclick = function(){
        alert('111');
    }

    // small.onmousemove=function(e){
    //      //显示小div和右侧的图
    //     move.style.display = 'block';
    //     big.style.display = 'block';
    //     //获取鼠标的位置
    //     var x = e.pageX;
    //     var y = e.pageY;
    //     //获取small的x  y
    //     var _l = small.offsetLeft;//40
    //     var _t = small.offsetTop;//78
    //     //计算小div的宽高的一半
    //     var _w = move.offsetWidth/2;//50
    //     // alert(_h);
    //     var _h = move.offsetHeight/2;
    //     //计算新的lefe和top
    //     var newL = x - _l - _w;
    //     var newT = y - _t - _h;

    //     //检测越界
    //     if(newL <= 0){newL = 0;}
    //     //检测越界
    //     if(newT <= 0){newT =0;}
    //     //获取最大的left
    //     var maxLeft = small.offsetWidth - move.offsetWidth;
    //     if(newL >= maxLeft){newL = maxLeft;}
    //     //获取最大的top
    //     var maxTop = small.offsetHeight - move.offsetHeight;
    //     if(newT >= maxTop){newT = maxTop;}

    //     //设置left和top
    //     move.style.left = newL + 'px';
    //     move.style.top = newT + 'px';


    //     //计算移动比例
    //     var xp = newL/small.offsetWidth;
    //     var yp = newT/small.offsetHeight;

    //     //计算右侧图片移动距离
    //     var nl = bimg.offsetWidth * xp;
    //     var nt = bimg.offsetHeight * yp;

    //     //设置移动
    //         bimg.style.left = -nl+'px';
    //         bimg.style.top = -nt+'px';
            
    //         //计算小图的宽高
    //         var bp = big.offsetWidth/bimg.offsetWidth;
    //         var bpp = big.offsetHeight/bimg.offsetHeight;

    //         //计算小图的宽度
    //         var mW = small.offsetWidth * bp;
    //         var mH = small.offsetHeight * bpp;
    //         //设置小图的宽度
    //         move.style.width = mW + 'px';
    //         move.style.height = mH + 'px';

    // }
    //绑定鼠标离开事件
        small.onmouseout = function(){
            //隐藏小div和右侧的图
            move.style.display = 'none';
            big.style.display = 'none';
        }

//小图和大图(主图切换)
        //获取元素
        var ul = document.getElementById('uimg');
        //从ul标签中获取img
        var limg = ul.getElementsByTagName('img');
        //遍历
        for (var i = 0; i < limg.length; i++) {
            limg[i].onclick = function(){
                //获取当前src属性
                var src = this.getAttribute('src');
                // alert(src);
                //设置src属性
                bimg.src = src;
                simg.src = src;
            }
        };

</script>


    <div class="deal-wrap fr">
        <h1>{$goods.name}</h1>
        <div class="sector-info">
            <div class="J-basic">          
                <dl class="tm-price clear">
                    <dd class="price">
                        <span class="current fl" style="font-size:30px;">

                            <i class="symbols"> ￥ : </i> {$goods.price} </span>
                </dl>
                <!-- 限时购信息-->
                <dl class="limit-time clear">

                </dl>
                <!--coupon start-->
                <div class="get-coupons clear" style="display:none">
                </div>
                <div class="coupons-coverbg" style="display:none">
                </div>
                <!--coupon end-->

                <!-- 活动信息 insert in here -->
                <dl class="freight clear">
                    <dt>库存：</dt>
                    <dd>{$goods.stock}&nbsp;&nbsp;&nbsp;件
                        <em class="by" data-post="0">包邮</em>
                        <em class="delivery">该地区不支持配送</em>
                    </dd>
                </dl>
            </div>
            <div class="J-other">
                <p class="J-title"></p>
                <div class="loadingsku" style="display:none;"><img src="__PUBLIC__/Home/Picture/loading.gif"></div>
                <form action="{:U('Home/Car/car_before')}" method="post">
                <p class="tips" style="display:none;"><i class="icons icons-warn fl" ></i>请选择尺码</p>
              </div>
              <input type="hidden" name="goods_id" value="{$gid}">
                <dl class="number clear">
                    <dt>数量：</dt>
                    <dd _limit="0" _realbuy="" _sku_limit_buy="">
                        <p class="j_j_p">
                            <i class="decrease">-</i>
                            <input type="text" name="amount" value="1" autocomplete="off" style="height:26px;" readonly/>
                            <i class="increase">+</i>
                        </p>
                        <span class="skulimitbuy" style="display:none;"></span>
                        <div id="stockconfig" data-enough="50" data-less="20" style="display:none;"></div>
                    </dd>
                </dl>
                <div id="J-mini-btn" class="submit-go clear">
                <input type="submit"  value="加入购物袋" style="font-size:20px; color:white; width:180px; height:50px; border:0px; background:#ff464E; border-radius:5px">
                
                </form>
                                </div>
            <div class="sector-other">
                <div class="collect" id="cc" style="display: {$aa|default='block'}"><a href="#like" uid="{$uid}" gid="{$gid}"><i></i>收藏</a></div>
                <div class="collect" id="nn" style="display: {$aaa|default='none'}"><a href="#unlike" class="l-actives active" uid="{$uid}" gid="{$gid}"><i></i>已收藏</a></div>
                <script type="text/javascript">

                    $(function(){
                        $('a[href="#like"]').click(function(){
                            // alert(1);
                            var url = '{:U("Home/Goods/like")}';
                            var uid = $(this).attr('uid');
                            var gid = $(this).attr('gid');
                            var like = $(this);
                            if (uid=="") {
                                location.href='{:U("Home/Login/index")}';
                            }
                            $.ajax({
                                url:url,
                                type:'post',
                                data:{uid:uid,gid:gid},
                                success:function(data){
                                    if (data==1) {
                                        like.parent().css('display','none');
                                        $('#nn').css('display','block');
                                    }
                                }
                            })
                        })
                        $('a[href="#unlike"]').click(function(){
                            var url = '{:U("Home/Goods/unlike")}';
                            var uid = $(this).attr('uid');
                            var gid = $(this).attr('gid');
                            var unlike = $(this);
                            $.ajax({
                                url:url,
                                type:'post',
                                data:{uid:uid,gid:gid},
                                success:function(data){
                                    if (data==1) {
                                        unlike.parent().css('display','none');
                                        $('#cc').css('display','block');
                                    }
                                }
                            })
                        })
                    })
                </script>

                <div class="share-box">
                <div id="ckepop">
                 <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis txt" target="_blank">分享</a>
                </div>
                <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
                
                    <div class="share" style="display:none;">
                        <div class="bdsharebuttonbox" data-tag="share_1">
                            <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                            <a class="bds_tsina" data-cmd="tsina"></a>
                            <a class="bds_tqq" data-cmd="tqq"></a>
                        </div>
                        <script>
                        var s_title = [
                                  {'title':'旅行隔脏防脏成人睡袋 户外便携式舒适卫生睡袋', 'desc':'【折扣价：28.80元/包邮】 旅行隔脏防脏成人睡袋 户外便携式舒适卫生睡袋-上卷皮，购便宜！http://shop.juanpi.com/deal/9519108/?utm=102922'},
                                  {'title':'旅行隔脏防脏成人睡袋', 'desc':'【折扣价：28.80元/包邮】旅行隔脏防脏成人睡袋-卷皮【淘宝天猫1折特卖！】更多商品>>http://www.juanpi.com/?utm=102923'}
                            ];
                        var n = Math.floor(Math.random()*s_title.length);
                        window._bd_share_config = {
                                common : {
                                    bdText :s_title[n].title ,     
                                    bdDesc : s_title[n].desc,
                                    bdUrl : location.href,
                                    bdPic : $(".goods_show figure img").attr("src")
                                },
                                share : [{
                                    "bdSize" : 16
                                }]
                            };
                        </script>
                    </div>
    
                </div>
                <div style="margin-left:30px;"><a title="旅行隔脏防脏成人睡袋"  re="9519108" class="report" onclick="XD.JUBAO(this)" href="javascript:;">举报</a></div>
            </div>
        </div>
    </div>
</div>
<div class="advantage">
    <div class="adv_box advbg_24">
        <div class="sale_name_box">
            <a href="javascript:;" class="sale_name">长水之家百货生活馆</a>
        </div>
    </div>
</div>
<a name="goodsdesc"></a>
<div class="content clear">
    <div class="title-nav">
        <div class="slide-box" style="overflow: visible">
            <div class="slide-box-main" style="overflow: visible">
                <div class="fl">
                    <ul class="goods">
                        <li  class="active"><a href="#goodsdesc">商品详情</a></li>
                        <li ><a class="ass" href="{:U('Home/Goods/assess',array('gid'=>$gid))}">商品评价</a></span></li>
                        <li><a href="javascript:;">消费保障</a></span></li>
                        <li style="position: relative;z-index: 10">
                            <em class="icon-normal icon-phone-fen" style="margin-top: 12px;margin-left: 40px"></em><a id="show-qcode" style="padding-left:0 " href="####.juanpi.com/apps">手机购买</a></span>
                           <div id="new-qcode" class="code-tips"><div class="code-box"><p class="code"></p><p class="txt" style="text-align:center;font-size: 14px">随时逛 及时抢</p></div></div>
                        </li>
                    </ul>
                </div>
                
                <div class="fl" style="display: none;">
                    <div class="seller" class="fl">
                                        <div>
                    售前客服：                                        <a title="点击这里给我发消息" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=452590869&amp;site=qq&amp;menu=yes">
                    <img border="0" style="display: inline-block;" src="__PUBLIC__/Home/Picture/qq-icon.gif"></a>
                                        </div>
                                        </div>
                </div>
                
                <div class="fr ">
                    <a href="javascript:void(0);" class="btn" >加入购物袋</a> 
                    <span class="g-post">/包邮</span><span class="p"><em>￥</em>28.80</span>
                </div>
            </div>
            <div class="slide-box-tab">
                <ul> 
                    <li><a href="javascript:;" _tagname="产品展示">产品展示</a></li>
                    <li><a href="javascript:;" _tagname="产品细节">产品细节</a></li>
                </ul>
            </div>
        </div>

    </div>
        <div class="tm-goodsinfo">
            <div class="info-title"><a name="sbtggcs"></a><span class="param">参数规格</span></div>
                <div class="details-info">
                    <table cellpadding="0" cellspacing="0" class="tb-param">
                        <tr>
                            <td width="33%">里料材质：纯棉</td><td width="33%">户外面料：纯棉</td>
                                <td width="33%">睡袋分类：棉睡袋</td></tr>
                                <td width="33%">填充物：羽棉混合(底部为棉，顶部为羽绒)</td>
                                <td width="33%">适用对象：成人</td>
                                <td width="33%">适用人数：单人</td></tr><td width="33%">商品系列：AVVU-B15</td> 
                                <td width="33%">总重量：580g</td>
                                <td width="33%">颜色分类：苹果绿 蔷薇紫 火焰橙</td>
                            </tr>
                                <td width="33%">极限温标：40</td> 
                                <td width="33%">适用季节：夏季</td>
                                <td width="33%">舒适温标：15℃以上</td>
                            </tr>
                                <td width="33%">款式：混合式/半长方形</td>
                                <td width="33%">货号：6931611006881</td> 
                        <table cellpadding="0" cellspacing="0" class="tb-param tb-nb">
                    </table>
                </div>
                        
                    <div class="info-title" _tagname="产品展示"><span class="single-style">产品展示</span></div>
                    <div class="details-info">
                        <div class="goods_desc">
                        <script id="editor" name="describe" type="text/plain" style="width:750px;height:300px;">{$goods['describe']}</script>
        
                       {$goods['describe']}

                       </div>                    </div>
                    <div class="details-info">
                        <div class="goods_desc"></div>                    </div>
                                                    <div class="info-title"><span class="buy-guidelines">物流与售后</span></div>
            <div class="details-info guidelines-con">
                <p><b>发货物流：</b>韵达快递，百世汇通，快捷快递</p>
                <p><b>配送范围：</b>全国（港澳台地区除外）。</p>
                <p><b>运费说明：</b>全国包邮（偏远地区除外）。</p>
                <p><b>包裹跟踪：</b>您可在<a href="//user.juanpi.com/order/" target="_blank">【我的订单】</a>中查询物流跟踪信息。</p>
                <p><b>确认收货：</b>当快件送达至您的收货地址后，卷皮将为您自动确认收货并将奖励积分发放至您的账户。</p>
                <div class="return-process"></div>
                                        <p><b>售后服务承诺</b><br>
                            收到货后，如果因为主观原因不喜欢/不想要了，在不影响二次销售的情况下，签收后7天内，卷皮网为您提供七天无理由退货服务。如果未收到货或收到商品有质量问题，您可以在签收后15天内申请售后。
                            <a href="####.juanpi.com/help/temai/1701451" target="_blank">售后服务说明&gt;&gt;</a>
                        </p>
                    
                <p class="mt10"><b>运费补贴政策</b><br>
                    当您的退货商品单价≥30元，卷皮将提供价值10元的退货运费补贴。（每个订单仅补贴一次优惠劵）
                    <a href="####.juanpi.com/help/view/1511456" target="_blank">退货运费补贴说明&gt;&gt;</a>
                </p>
            </div>
            <div class="info-title"><span class="consumer-protection">消费保障</span></div>
            <div class="details-info">
                <div class="cp01">
                    <ul>
                        <li><span class="cpc01"></span></li>
                        <li><span class="cpc02"></span></li>
                        <li><span class="cpc03"></span></li>
                        <li><span class="cpc04"></span></li>
                        <li><span class="cpc05"></span></li>
                        <li><span class="cpc06"></span></li>
                        <li><span class="cpc07"></span></li>
                    </ul>
                </div>
                <div class="cp02">
                    <div class="cp-con"><div class="con1"></div></div>
                    <div class="cp-con" style="display: none;"><div class="con2"></div></div>
                    <div class="cp-con" style="display: none;"> <div class="con3"></div></div>
                    <div class="cp-con" style="display: none;"> <div class="con4"></div></div>
                    <div class="cp-con" style="display: none;"> <div class="con5"></div></div>
                    <div class="cp-con" style="display: none;"><div class="con6"></div></div>
                    <div class="cp-con" style="display: none;"><div class="con7"></div></div>
                </div>
            </div>

        </div>
        <div class="hot_goods">
        <h3>
            <div class="line"></div>
            <div class="line-txt">猜你喜欢</div>
        </h3>
        <ul id="hot_goods_list"></ul>
    </div>
        
</div>
</div>
</div>
<div id="J-mini-cart" class="cart-flyinto">
    <img src="__PUBLIC__/Home/Picture/56f3538c92be59a57d8b4577_800x800.jpg" style="height:40px;!important">
</div>
<!-- 举报 box start -->
<div class="alert_bg" id="alert_report" style="left: 539px; top: 182.5px; position: fixed; display: none;">
    <div class="alert_box">
        <div class="alert_top">
            <span class="iconimg"></span>
            <span>举报</span> 
            <a href="javascript:;" class="alert_close" onclick="$('#alert_report').hide();$('.alert_fullbg').hide();"></a>
        </div>
        <div class="alert_content">
            <div class="l_c_l">

                    <br> 
                    <label style="display: none" class="other">其他原因：
                        <input type="text" id="otherReasons" class="text" name="otherReasons">
                        <br>
                    </label> 
                    <input type="hidden" id="znid" value="10ui9d" name="inform_znid">
                    <!-- 表示举报商品属于卷皮特卖类型：shop -->
                    <input type="hidden" id="jubao_9519108" gtype="shop" />
                    <input type="button" onclick="XD.JUBAO_SMT()" value="提 交" tabindex="3" class="smt">
            </div>
        </div>
        <div class="bottom">注：为保证您的合法权益，请如实填写您所遇到的情况。</div>
    </div>
</div>
<!-- 举报 box end -->

    <!-- 新版 -->
    <!--main end-->

        <!-- /主体 -->
        <!-- 页脚 -->
        <!-- /页脚 -->
<script src="__PUBLIC__/Admin/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){

        // //商品描述和评价切换
        //  $('.ass').click(function(){
        //     // alert(11);
        //     $(this).css({color:'red','border-bottom':'2px solid red','font-size':'14px','font-weight':'bold',});
        //  })
         //商品数量加减
        $('.decrease').bind("click",function(){
            var val = $(this).parents('.j_j_p').find('input').val();
            val--;
            if(val == 0)
                val = 1;
            $(this).parents('.j_j_p').find('input').val(val);
        })
        $('.increase').bind("click",function(){
            var val = $(this).parents('.j_j_p').find('input').val();
            val++;
            if(val >= {$goods.stock})
                val = {$goods.stock};
            $(this).parents('.j_j_p').find('input').val(val);
        })
    }) 

</script>

</block>

