<extend name="./Public/public" />
<block name="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">请登录<big>三人行</big>后台</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="{:U('Admin/Login/dologin')}">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" autofocus="" name="username" placeholder="请输入用户名" class="form-control"><span></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" value="" name="password" placeholder="请输入密码" class="form-control"><span></span>
                                </div>

                                <div class="checkbox row">
                                        <span class="vcode">
                                        <div class="col-md-6">
                                            
                                            <input type="text" class="form-control" placeholder="请输入验证码" name="yzm">
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <img onclick="this.src=this.src+'?i='+Math.random()" src="{:U('Admin/Login/yzm')}" title="看不清楚?点击换一张吧!"><br>
                                        </div>

                                        </span>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                    
                                <button class="btn btn-lg btn-success btn-block">登录</button>
                         
                            </fieldset>
                        </form>
                        <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
                        <script type="text/javascript">
                            $('.btn-success').click(function(){
                                // alert(123);
                                $('input').trigger('blur');//丧失焦点
                                if (($('input[name="username"]').val()!='') && ($('input[name="password"]').val()!='')) {

                                    return true;
                                }else{
                                    alert('用户名或密码不完整');
                                    return false;
                                }

                                return false;
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>