<extend name="./Public/public" />
<block name="title">
    <h3 class="page-header">用户添加</h3>
</block>
<block name="content">

<form role="form" method="post" action="{:U('Admin/User/insert')}" enctype="multipart/form-data">
    <div class="form-group">
        <label>用户名:</label>
        <input name="username" placeholder="请输入用户名" class="form-control">
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input name="password" type="password" placeholder="请输入密码" class="form-control">
    </div>
    <div class="form-group">
        <label>邮箱:</label>
        <input name="email" placeholder="请输入邮箱" class="form-control">
    </div>
    <div class="form-group">
        <label>手机号:</label>
        <input name="text" placeholder="手机号" class="form-control">
    </div>
    <div class="form-group">
        <label>上传头像</label>
        <input type="file" name="pic">
    </div>
    <div class="form-group">
        <label>个性签名:</label>
        <textarea name="sign" rows="3" class="form-control">yyyyyyyyyyyyyyyyyy</textarea>
    </div>
    <div class="form-group">
        <label>爱好:</label>
        <label class="checkbox-inline">
            <input name="hobby[]" value="蓝球" type="checkbox">蓝球
        </label>
        <label class="checkbox-inline">
            <input name="hobby[]" value="足球" type="checkbox">足球
        </label>
        <label class="checkbox-inline">
            <input name="hobby[]" value="排球" type="checkbox">排球
        </label>
    </div>
    <div class="form-group">
        <label>性别:</label>
        <label class="radio-inline">
            <input type="radio" checked="" value="男" name="sex">男
        </label>
        <label class="radio-inline">
            <input type="radio" value="女"  name="sex">女
        </label>
        <label class="radio-inline">
            <input type="radio" value="保密" name="sex">保密
        </label>
    </div>
    <div class="form-group">
        <label>类型:</label>
        <select name="type" class="form-control">
            <option value="0">炮灰级</option>
            <option value="1">入门级</option>
            <option value="2">贵宾级</option>
            <option value="3">骨灰级</option>
        </select>
    </div>
    <button class="btn btn-default" type="submit">提交</button>
    <button class="btn btn-default" type="reset">重置</button>
</form>

</block>

