<extend name="./Public/public" />
<block name="title">
    <h1 class="page-header">分类添加</h1>
</block>

<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="ax_form" role="form" method="post" action="{:U('Admin/Category/insert')}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>一级类别</label>
                                    <select name="level" class="form-control">
                                        <option value="0" path="0,">一级分类</option>
                                    <foreach name="res" item="vo">
                                        <option value="{$vo.id}" path="{$vo.path}">{$vo.name}</option>
                                    </foreach>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>分类名称</label>
                                    <input name="name" placeholder="请输入分类名称" class="form-control">
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" >添加</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script src="__PUBLIC__/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
    $(function(){    
        //一级分类 就是select中的首选项
        $('select').change(function(){
            $('.select_add').remove();
            //获取id
            var id = $(this).val();
            //选择增加一级分类  直接跳出
            if(id == 0)
                return;
            // 添加一个 select
            var th = $(this);
            // 发送
            $.ajax({
                url:"{:U('Admin/Category/select')}",
                data:{id:id},
                datetype:'json',
                type:'post',
                success:function(data){
                    // 接受json格式的变js中的arr
                    var arr = eval(data);

                    console.log(arr);
                    // 加select
                    var sel = '<div class="form-group select_add"><label>二级类别</label><select name="second" class="form-control"><option value="'+id+'" path="0,">二级分类</option>';
                    var inp = '';
                    //判断有arr
                    if(arr != null)
                    for (var i = 0; i < arr.length; i++) {
                        inp += '<option value="'+arr[i].id+'">'+arr[i].name+'</option>';  
                    };
                    //拼接html
                    sel = sel + inp + '</select></div>';
                    console.log(sel);
                    // jquery 
                    th.after(sel);
                }
            })
        })
    })
    </script>
</block>