<!DOCTYPE html>
<html class="jp-pc">
    <head>
        <title>购物袋 - 卷皮网</title>
        <meta name="keywords" content="卷皮折扣,独家,超值,品牌折扣,卷皮网">
        <meta name="description" content="卷皮网-专注独家折扣，汇聚全网最优质商品及促销活动，每日千款超值商品低至1折限量秒杀，天天更新，件件超值。商城优品超值买，优质大牌低价购，享折扣更享品质。">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/Css/bcc77f96b59e451a90126576a3adaa36.css"/>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/Css/cba61daea9b048948a8664228eeacaaf.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/7db4aa4f3fc14b20b5596232dc0beb98.css" />
        <script type="text/javascript" src="__PUBLIC__/Home/Js/fab07fe9cc274d98a7f17c92471b3e72.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/Js/lightbox.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/Js/17a2a6866205462e86f5388e7f51b531.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/Js/117b9bcb1db54fd58776097dca087edb.js"></script>

    </head>
    <body>
        
            <!-- 页头 -->
            
<div id="toolbar">
  <div class="bar-con">
      <div class="other_links fl"><a href="http://www.juanpi.com">卷皮首页</a></div>
    <div class="right-show fr">
      <div class="union-login"> <a href="" rel="nofollow">QQ登录</a><a href="" rel="nofollow">微博登录</a>　| </div>
      <div class="login-show"><a href="" rel="nofollow">登录</a><a href="" rel="nofollow">免费注册</a>　|</div>
      <div class="other-show"><a href="" rel="nofollow">联系客服</a><a href="" rel="nofollow">卖家报名</a></div>
    </div>
 </div>
</div>
<!-- 
<div id="toolbar">
    <div class="bar-con">
        <ul class="topNav fl">
            <li class="first"><a href="http://www.juanpi.com" class="active">卷皮折扣</a></li>
            <li><a href="http://brand.juanpi.com" target="_blank">品牌折扣</a></li>
            <li><a href="http://www.jiukuaiyou.com" target="_blank" class="red">9.9包邮</a></li>
            <li><a href="http://fanli.juanpi.com" target="_blank">卷皮返利</a></li>
            <li><a href="http://www.juanpi.com/apps" target="_blank"><em class="icon-normal icon-phone"></em>手机版</a></li>
        </ul>
        <div class="right-show fr">
            <div class="union-login"> <a href="" rel="nofollow">QQ登录</a><a href="" rel="nofollow">微博登录</a>&#12288;| </div>
            <div class="login-show"><a href="" rel="nofollow">登录</a><a href="" rel="nofollow">免费注册</a>&#12288;|</div>
            <div class="other-show"><a href="" rel="nofollow">联系客服</a><a href="">卖家报名</a></div>
        </div>
    </div>
</div>
-->

<!--head start-->
<div class="header header_shop">
    <div class="area">
        <div class="logo shopping">
            <div class="fl"><a title="卷皮购物袋" href="javascript:;" class="juan-logo fl">卷皮购物袋</a><span class="juan-txt fl"></span></div>
        </div>
        <div class="step-box step-box-short">
            <i class="flow-steps"></i>
            <ul>
            <li class="cur">购物袋</li>
            <li>确认订单</li>
            <li>支付完成</li>
            </ul>
        </div>
    </div>
</div>
<!--head end-->
<script type="text/javascript" src="__PUBLIC__/Home/Js/jp.header.js" id="cart_only_id"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Js/jp.cart.js"></script>

            <!-- /页头 -->
        
        <!-- 主体 -->
    <div class="main pr mt20 clear">
            <div class="time_tips clear">
                <p class="txt fl">请在
                    <em>
                    <label id="cartm">05</label>分
                    <label id="carts">38</label>秒
                    </em>内提交订单，下单后您会另有
                    <em class="other">30</em>分钟的支付时间
                </p>
                <a class="tips fl" href="javascript:;">
                    <i class="icons icons-question"></i>
                    <div class="t_box">
                    <span>由于商品库存有限，卷皮将为您在购物袋保留<i>20分钟</i>，超时请从历史失效商品重新加入购物袋结算哦~</span><em></em>
                    </div>
                </a>
            </div>
        <div class="orders">
            <div class="orders-hd other clear">
                <ul>
                    <li class="product-item">
                        <span>共（<em id="totalNum">1</em>）件商品</span>
                    </li>
                    <li class="price-item">
                        <span class="text">单价</span>
                    </li>
                    <li class="quantity-item">
                        <span class="text">数量</span>
                    </li>
                    <li class="subtotal-item">
                        <span class="text">小计</span>
                    </li>
                    <li class="actions-item">
                        <span class="text">操作</span>
                    </li>
                </ul>
            </div>

            <div class="order-list">
                <div class="orders-bd normal activity no">
                    <div class="table-box-other">
                        <span class="activity a2 no"> 满 件 减</span>
                            <a href="/1414567" target="_blank"> 再凑1件,可减6元  >></a>
                    </div>
                    <table class="tbl-main">
                        <tbody>
                            <tr class="no">
                                <td class="product-item sku-item" data-skuid="24025325">
                                    <div class="pic">
                                        <a href="http://shop.juanpi.com/deal/8188612 " target="_blank">
                                            <img src="__PUBLIC__/Home/images/cardemo.jpg">
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <div class="title">
                                            <a target="_blank" href="http://shop.juanpi.com/deal/8188612">OL小香风阔腿裤套装</a>
                                        </div>
                                        <div class="other">
                                            <p>颜色分类：白色上衣+黑色裤子</p>
                                            <p>尺码：S（小码）</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="price-item cell-center">
                                    <p class="price">
                                        <em class="u-yen">¥</em>
                                        <span>39.00</span>
                                    </p>
                                    <p class="old_p">
                                        <em class="u-yen">¥</em>
                                        <span>399.00</span>
                                    </p>
                                </td>
                                <td class="quantity-item cell-center">
                                    <div class="normal">
                                        <img class="ct-loading" src="__PUBLIC__/Home/Images/loading.gif">
                                        <p class="num sku_24025325" data-ioldnum="1" skuid="24025325">
                                            <i class="decrease no">-</i>
                                            <input type="text" name="amount" value="1">
                                            <i class="increase">+</i>
                                        </p>
                                        <p class="tips" style="display: none;"></p>
                                    </div>
                                </td>
                                <td class="subtotal-item cell-center">
                                    <p class="count">
                                        <em class="u-yen">¥</em>
                                        <span>39.00</span>
                                    </p>
                                </td>
                                <td class="actions-item cell-center">
                                    <p>
                                        <a class="del" href="javascript:;">删"除</a>
                                    </p>
                                    <div class="confirm_box ">
                                        <p class="txt">宝贝库存有限，确定要删除吗？</p>
                                        <p class="btn_all">
                                            <a class="btn btn_01" href="javascript:;">删除</a>
                                            <a class="btn btn_02" href="javascript:;">保留</a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="m-orders-total clear">
            <div class="orders-total-bd clear">
                <div class="orders-trigger fl">
                    <a class="orders-trigger-btn fl long" href="javascript:;">
                    <span class="txt">使用优惠券</span>
                    <span class="arrow"></span>
                    </a>
                </div>
            </div>
            <div class="cv-box clear" style="display:none;">
                <div class="activate clear">
                    <div class="activate_hd">
                        <span>激活新优惠券:</span>
                        <input id="activate-code" type="text" name="activate-code" value="">
                        <a class="activate-button no">激活并使用</a>
                        <div class="cv-rule">
                            <a target="_blank" href="http://www.juanpi.com/help/lists/top/1401490/pid/1101401/id/1901421">
                            <i class="icons icons-question fl"></i>
                            优惠券使用规则
                            </a>
                        </div>
                    </div>
                </div>
                <div id="cash-voucher" class="cash-voucher couponList" data-select="1">
                    <div class="cv-list">
                        <div class="no-cv">
                            <span>
                            <i class="icons icons-quan fl"></i>
                            你当前没有可使用优惠券
                            </span>
                        </div>
                    </div>
                </div>
                <div class="app-cash-voucher" style="display:none;">
                    <div class="cash-voucher-tit">
                        <div class="line"></div>
                        <h5>
                        <span>以下为APP专享券，仅可在APP使用</span>
                        </h5>
                    </div>
                    <div class="cash-voucher appCouponList">
                        <div class="cv-list">
                            <div class="hdttl" style="display:block;">
                                <div class="rdslt">描述</div>
                                <div class="cv-adv">使用范围</div>
                                <div class="cv-time">有效期</div>
                                <div class="cv-status">操作</div>
                            </div>
                            <ul class="coupon_ul clear"> </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders-pay-fixed">
                <div class="orders-total-pay">
                    <a class="go_shopping fl" href="{:U('Home/Index/index')}"><<继续购物</a>
                    <a class="go_pay fr" href="javascript:;">去结算</a>
                    <form id="cartConfirmForm" action="//user.juanpi.com/pay/confirm_order" method="post">
                        <input type="hidden" name="couponcode">
                        <input type="hidden" value="39.00 " name="totelPrice">
                        <input type="hidden" value="18911" name="actIds">
                        <input type="hidden" value="81782752d512c412c10c2d201ee66f30" name="token">
                    </form>
                    <div class="other fr">
                        <p class="all">
                        活动优惠
                        <span>
                        -
                        <em class="u-yen">¥</em>
                        <span id="reduceTotal">0.00</span>
                        </span>
                        </p>
                        <p class="all">
                        优惠券抵扣
                        <span>
                        -
                        <em class="u-yen">¥</em>
                        <span id="cashTotal">0.00</span>
                        </span>
                        </p>
                        <p class="count">
                        总计（不含运费）
                        <span>
                        <i>￥</i>
                        <span id="totalPrice">39.00</span>
                        </span>
                        </p>
                    <!-- 下架  -->
                    </div>
                    <em class="pay-bg bg_l"></em>
                    <em class="pay-bg bg_r"></em>
                </div>
            </div>
        </div>
        </div>
        <div id="shelves_alert" class="alert_bg" style="left: 438.5px; top:30px; position: fixed; display: none;">
            <div class="alert_box">
                <div class="alert_top">
                <span></span>
                <a class="alert_close" href="javascript:;"></a>
                </div>
                <div class="alert_content">
                    <div class="tag">
                        <h3>以下商品已下架:</h3>
                        <ul class="list clear"></ul>
                        <p class="btn_all clear">
                        <a class="button button_02" href="javascript:;">移除下架商品</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert_bg_ticket" class="alert_bg" style=" width:360px; position: fixed; display: none;">
            <div class="alert_box">
                <div class="alert_top">
                    <span></span>
                    <a class="alert_close" href="javascript:;"></a>
                </div>
                <div class="alert_content">
                    <div class="ticket-alert">
                        <p>
                        你有
                        <span></span>
                        元APP专享券，在APP下单即可使用！
                        </p>
                        <div class="button-box">
                            <a class="button button_02 button_03 btn-buy" href="javascript:;">我钱多，直接买</a>
                            <a class="button button_04 go-download-app" target="_blank" href="http://www.juanpi.com/apps/?utm=104069">用，去APP下载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 空购物车 -->
<!--     <div class="main pr mt20 clear">
        <div class="orders order_empty">
		        <div class="empty_img fl"></div>
		            <div class="empty_detail fr">
		                <p class="txt">购物袋还是空荡荡哒~快去抢购宝贝吧！</p>
		                <p class="btn_all"><a href="http://www.juanpi.com" class="btn_normal btn_normal_01">去抢购</a></p>
		      </div>
		  </div>
    </div> -->
            <!-- 历史失效商品区 -->
            
            <!-- 历史失效商品区 /-->

        <!-- /主体 -->
        
            <!-- 页脚 -->
            <div class="foot">
    <div class="white_bg">
    <div class="foot-con">
        <div class="con-box-n clear">
            <div class="app-side-box fl">
                <p class="app-show"></p>
                <p class="app-txt">扫描二维码下载</p>
            </div>
            <div class="con-left-info fl">
                <dl class="update">
                    <dt>获取更新</dt>
                    <dd><a href="http://www.juanpi.com/apps" target="_blank"><i></i>iPhone/Android</a></dd>
                    <dd><a href="http://user.qzone.qq.com/474171717" target="_blank"><i></i>卷皮QQ空间</a></dd>
                    <dd><a href="http://weibo.com/juanpicom" target="_blank"><i></i>卷皮新浪微博</a></dd>
                    <dd><a href="http://www.juanpi.com/about/api" target="_blank"><i></i>开放API</a></dd>
                </dl>
                <dl class="cooperation">
                    <dt>商务合作</dt>
                    <dd><a href="https://seller.juanpi.com/choice" target="_blank"><i></i>卖家免费报名</a></dd>
                    <dd><a href="http://www.juanpi.com/about/partner" target="_blank"><i></i>商务合作</a></dd>
                    <dd><a onclick="if (window.confirm('本邮箱仅接收合作商家对卷皮员工违规行为的举报。不接受用户咨询、投诉或商务合作申请。')) { window.location = 'mailto:' + 'moc.ipnauj@gnehznail'.split('').reverse().join(''); }" href="javascript:void(0)"><i></i>廉政邮箱<br><span class="revEmail">lianzheng@juanpi.com</span></a></dd>
                </dl>
                <dl class="cor-info">
                    <dt>公司信息</dt>
                    <dd><a href="http://www.juanpi.com/about/juanpi" target="_blank"><i></i>关于卷皮</a></dd>
                    <dd><a href="http://www.juanpi.com/about/media" target="_blank"><i></i>媒体报道</a></dd>
                    <dd class="school"><a href="http://www.juanpi.com/about/job" target="_blank"><i></i>诚聘英才</a><a href="http://www.juanpi.com/about/job_2015campus" target="_blank"><em></em></a></dd>
                    <dd><a href="http://www.juanpi.com/event/xiaoyuan_zhaomu" target="_blank"><i></i>校园大使招募</a></dd>
                </dl>
                <dl class="help-info">
                    <dt>帮助中心</dt>
                    <dd><a href="http://www.juanpi.com/help" target="_blank"><i></i>新手上路</a></dd>
                    <!-- <dd><a href="http://www.juanpi.com/help/qianggou" target="_blank"><i></i>抢购小技巧</a></dd> -->
                    <dd><a href="http://www.juanpi.com/jifen/task" target="_blank"><i></i>积分攻略</a></dd>
                    <dd><a href="http://www.juanpi.com/about/map" target="_blank"><i></i>网站地图</a></dd>
                </dl>
            </div>
            <div class="con-menu fr">
                <a href="http://www.juanpi.com/about/service" class="service-add fl" target="_blank" rel="nofollow"></a>
            <span class="service-time fl">
                <p>周一至周日</p>
                <p>9:00-21:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </span>
            </div>
        </div>
        <p class="ft-company"><a href="http://www.juanpi.com" target="_blank">武汉奇米网络科技有限公司</a> 鄂ICP备10209250号 | ICP许可证号：鄂B1-20150109 | 食品流通许可证 SP4201991510041888&#12288;&#12288;Copyright &copy; 2010 - 2016 JuanPi.com All Rights Reserved</p>
            </div>
</div>
<div class="tag_remind" style="display:none;">
  <p class="tips"><em icon-bag="" icon-normal="" class="icon-normal icon-clock"></em>有货啦！</p>
  <p class="txt"><em class="remindnum"></em>件商品恢复有货！赶紧抢回来吧</p>
  <p class="btn_all"><a target="_blank" href="//user.juanpi.com/favorite">马上查看</a></p>
  <a class="del" href="javascript:;">×</a>
</div>
<script type="text/javascript">
    (function($) {
        if (XDPROFILE.uid != '') {
            $.getJSON("//user.juanpi.com/Public/message?callback=?", function (data) {
                if (typeof(data) != "undefined " && data != 0) {
                    $('.personal-show .count ').show();
                    $('.personal-show .count ').html('<i>' + data + '</i>');
                }
            });
        }
    })(jQuery);
</script>

            <!-- /页脚 -->
        
        <!--百分点-->
        <script src="__PUBLIC__/Home/Js/jp.hotpop.js" type="text/javascript"></script>
        <script src="__PUBLIC__/Home/Js/bfd.js" type="text/javascript"></script>
        <!-- 脚本 -->
        
<script type="text/javascript" src="__PUBLIC__/Home/Js/d326afae1a8a43c8beb1ef8eb2114770.js"></script>
<script src="__PUBLIC__/Home/Js/95099dd9923f4b8dad10c7f3e327755a.js" type="text/javascript"></script>
    <script>
        (function($) {
            var p_id="empty_cart";
            bfdStatis.bfdFun(p_id);
            bfdStatis.setBfdInfoFun({
                        "p_id":p_id,
                        "cart_items" : '',
                    //"user_id" : XDPROFILE.uid,
                    "page_type" : "shopcart"
        });
        p_id=null;
        bfdStatis.isBiOrBfdFun(12,'goods-list',1,'sc_noRecVAV');
        })(jQuery);
    </script>

        <!-- /脚本 -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="__PUBLIC__/Home/Js/d43707703cdd4ecb9b3081dd4e078355.js"></script>

        <![endif]-->
		<script src="__PUBLIC__/Home/Js/b33014a589c2407d9b0f94561e91219e.js" language="javascript"></script>
    </body>
</html>