<extend name="./Public/public" />
<block name="regist">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="panel-title">欢迎注册 <big>三人行</big></h3>
                            </div>
                            <div class="col-md-2">
                                <h3 class="panel-title"><small><a href="{:U('Index/index')}">回首页</a></small></h3>
                            </div>
                            <div class="col-md-2">
                                <h3 class="panel-title"><small><a href="{:U('Login/index')}">去登录</a></small></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="{:U('Home/Regist/regist')}">
                            <fieldset >
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        用户名:
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" autofocus="" name="username" placeholder="请输入6~16位字母数字下滑线" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <span id="cuser"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                    邮箱:
                                    </div>

                                    <div class="col-md-6">
                                        <input type="text" autofocus="" name="email" placeholder="请输入邮箱" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <span id="cemail"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        密码:
                                    </div>

                                    <div class="col-md-6">
                                        <input type="password" value="" name="password" placeholder="请输入6~16位字母数字下滑线" class="form-control"><span></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span id="cpass"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        确认密码:
                                    </div>

                                    <div class="col-md-6">
                                        <input type="password" value="" name="repassword" placeholder="请再次输入密码" class="form-control"><span></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span id="crepass"></span>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-2">
                                        验证码:
                                    </div>

                                    <div class="col-md-6">
                                        
                                        <input type="text" class="form-control" placeholder="请输入验证码" name="code">
                                    </div>
         <!--                            <div class="col-md-2">
                                        <span id="ccode"></span>
                                    </div> -->
                                    <div class="col-md-4">
                                        
                                        <img onclick="this.src=this.src+'?i='+Math.random()" src="{:U('Home/Regist/yzm')}" title="看不清楚?点击换一张吧!">
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-11">
                                        <button class="btn btn-lg btn-success btn-block" style="width:100%; ">提交</button>
                                    </div>
                                </div>                               


                          
                            </fieldset>
                        </form>
                        <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
                        <script type="text/javascript">
                            // alert($);
                            //定义全局 变量
                            var Cuser = false;
                            var Cpass = false;
                            var Crepass = false;
                            var Cemail = false;
                            var Ccode = false;


                            //提交
                            $('form').submit(function(){
                             
                                $('input').trigger('blur');//丧失焦点

                            //检测是否能够提交
                            if(Cuser && Cpass && Crepass && Cemail && Ccode){
                                //提交
                                // alert(Ccode);
                                return true;
                            }else{
                                // alert(Ccode);
                            return false;
                            }
                           });

                            $('input[name="username"]').blur(function(){
                                // alert(1);
                                var reg = /^\w{6,16}$/;
                                var username = $(this).val();
                                var res = reg.test(username);
                                if (!res) {
                                   $(this).parents('.row').find('#cuser').html('用户名格式不正确').css('color','red');
                                   $(this).css('border','1px solid red');
                                   Cuser = false;
                                   //停止
                                   return false; 
                                }
                                var inp = $(this);
                                //发送ajax验证用户是否可用
                                $.ajax({
                                    //url
                                    url:'{:U("Home/Regist/test")}',
                                    //发送的数据
                                    data:{username:username},
                                    type:'get',
                                    //同步
                                    async:false,
                                    success:function(data){
                                        if (data==1) {
                                            inp.parents('.row').find('#cuser').html('√').css('color','green');
                                            inp.css('border','1px solid green');
                                            Cuser = true;
                                        }else{
                                            inp.parents('.row').find('#cuser').html('此用户已存在').css('color','red');
                                            inp.css('border','1px solid red');
                                            Cuser = false;
                                        }
                                    },

                                });

                            });
                            //密码
                            $('input[name="password"]').blur(function(){
                                // alert(1);
                                var reg = /^\w{6,16}$/;
                                var password = $(this).val();
                                var res = reg.test(password);
                                if (!res) {
                                   $(this).parents('.row').find('#cpass').html('密码格式错误').css('color','red');
                                   $(this).css('border','1px solid red');
                                   Cpass = false;
                                }else{
                                   $(this).parents('.row').find('#cpass').html('√').css('color','green');
                                   $(this).css('border','1px solid green');
                                   Cpass = true;
                                }

                            });
                          
                            $('input[name="repassword"]').blur(function(){
                                //获取
                                var repass = $(this).val();
                                var pass = $('input[name="password"]').val();
                                //验证

                                if (pass==repass && repass!='') {
                                    
                                   $(this).parents('.row').find('#crepass').html('√').css('color','green');
                                   $(this).css('border','1px solid green');
                                   Crepass = true;
                                }else{
                                   $(this).parents('.row').find('#crepass').html('两次密码不一致').css('color','red');
                                   $(this).css('border','1px solid red');
                                   Crepass = false;
                                }

                            });
                            //再次密码
                            $('input[name="email"]').blur(function(){
                                // alert(1);
                                var reg = /^\w+@\w+\.(com|cn|com\.cn|net|org)$/;
                                
                                var email = $(this).val();
                                var res = reg.test(email);
                                if (!res) {
                                   var a = $(this).parents('.row').find('#cemail').html('邮箱格式不正确').css('color','red');
                                   $(this).css('border','1px solid red');
                                   Cemail = false;
                                }else{
                                   var a = $(this).parents('.row').find('#cemail').html('√').css('color','green');
                                   $(this).css('border','1px solid green');
                                   Cemail = true;
                                }
                            });
                            $('input[name="code"]').blur(function(){
                                var code = $(this).val();
                                if (code!='') {
                                    Ccode=true;
                                }else{
                                    Ccode=false;
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>