<extend name = "./Public/center"/>
<block name="allOrder">
    <div class="order-lists">
                    <div class="all-orders">
                        <div class="all-orders-top">
                            <span ><strong>全部订单</strong>(最近三个月订单)</span>
                            <span class="order_t">
                            <form action="{:U('Home/Center/allOrder')}" method="post">
                               <select class="state-select" name="status" id="orderStatus" style="margin-top:10px;">
                                   <option value="" data-msg="订单状态">订单状态</option>
                                   <option value="1" data-msg="待付款" <?php if($_GET['status'] == 1) echo 'selected'; ?>>待付款</option>
                                   <option value="2" data-msg="待发货" <?php if($_GET['status'] == 2) echo 'selected'; ?>>待发货</option>
                                   <option value="3" data-msg="运送中" <?php if($_GET['status'] == 3) echo 'selected'; ?>>运送中</option>
                                   <option value="4" data-msg="已收货" <?php if($_GET['status'] == 4) echo 'selected'; ?>>已收货</option>
                                   <option value="5" data-msg="已关闭" <?php if($_GET['status'] == 5) echo 'selected'; ?>>已关闭</option>
                               </select>
                            </form>
                           </span>
                            <a href="{:U('Home/Center/allOrder')}">查看所有订单&gt;&gt;</a>
                        </div>
                        <!-- 防诈骗BANNER图片BEGIN -->
                                                <div class="fraud-banner">
                                <span> </span>
                            </div>
                                            <!-- 防诈骗BANNER图片END -->
                    </div>

<foreach name="orders" item="v1">
        <div class="order-infolist mb20">
        <input class="hidd" type="hidden" value="{$v1.id}">

            <div class="order-info-hd">
                <span class="order-time">{$v1.time}</span>
                    <span class="order-no" _soid_no="314576937049262" _order_no="314576937049262" orderback="0"><b>订单号：</b>{$v1.order_num}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>总价：</b>{$v1.price_total} <br></span>
                                            <!-- <span class="seller">商家：山予味道</span> -->
                    <switch name="v1.status" >
                         <case value="1"><input class="fksh" type="button" value="付款" style="height:31px; width:53px; margin-left:297px"></case>
                         <case value="3"><input class="fksh" type="button" value="收货" style="height:31px; width:53px; margin-left:290px"></case>
                    </switch>
                                            <br>
                    </div>
            <div class="order-info-hd">
                <span class="order-time">收件地址:&nbsp;&nbsp;&nbsp;{$v1.address}</span>
                    <span class="order-no" _soid_no="314576937049262" _order_no="314576937049262" orderback="0"><b>收件人：</b>{$v1.username}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>电话：</b>{$v1.tel} <br></span>

                    </div>
 
    <foreach name="v1.goods" item="v2">
            <dl class="my-order-list">
                <dd>
                                                        <!-- class="last-goods" -->
                            <ul class="last-goods">
            <input class="hi_dn" type="hidden" value="{$v2.id}">
        <input class="hidd" type="hidden" value="{$v1.id}">

                            <li class="oi-goods">
                                <a class="aimg" target="_blank" href="http://shop.juanpi.com/deal/6937042">
                                    <img width="60px" height="60px" src="__PUBLIC__{$v2.pic}">
                                </a>
                                <div class="con">
                                    <a target="_blank" href="{:U('Home/Goods/show',array('gid',$v2['id']))}">
                                        <div class="good-name">{$v2.name}</div>
                                    </a>
                                    <div class="other"></div>数量:&nbsp;&nbsp;&nbsp;{$v2.qty}<br>单价:&nbsp;&nbsp;&nbsp;{$v2.price}
                                </div>
                            </li>
                            <li class="oi-price"></li>
                            <li class="oi-price-paid"></li>
                            <li class="oi-other">
                                <a href="###.juanpi.com/refund?giOrderId=52570392&amp;boid=&amp;botype=" target="_blank"></a> 
                            </li>

                                <!-- <a>退货/退款</a> <p>售后完成</p> -->
                            <li class="oi-count">
                                    <p class="all"><em class="u-yen">¥</em><span><?php echo $v2['qty']*$v2['price'] ?></span></p>
                                    <div class="mobile_order"><i></i>手机订单<div></div></div>
                            </li>
                            <li class="oi-status">
                                    <p>
                                        <b class="wait-pay">
                                        <span class="stat_u">
                                            <switch name="v1.status" >
                                            <case value="1">待付款</case>
                                            <case value="2">待发货</case>
                                            <case value="3">运送中</case>
                                            <case value="4">已收货</case>
                                            <case value="5">已关闭</case>
                                            </switch>
                                        </span>
                                        </b>
                                    </p>
                                    <if condition="$v1.status eq 4">
                                        <p><a class="cl">商品评价</a></p>
                                    <else />
                                        <p><a class="cl"></a></p>
                                    </if>
                            </li>
                            <li class="oi-button">
                            </li>
                        </ul>
                    </dd>
            </dl>

    </foreach>

        </div>
        
</foreach>

    </div>  
    <script src="__PUBLIC__/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.cl').bind("click",function(){
                if($(this).html().trim() == '已评价')
                    return;
                var gid = $(this).parents('.last-goods').find('.hi_dn').val();
                var oid = $(this).parents('.last-goods').find('.hidd').val();
                $(this).html('<input id="sub" type="button" value="提交"/>');
                $(this).parents('.last-goods').after('<textarea id="textarea" type="text" cols="120" rows="7" style="font-size:15px;"></textarea>');
                var $this = $(this);
                $('#sub').click(function(){
                    var url = "{:U('Home/Center/commit')}";
                    var val = $('#textarea').val();
                    var data = {'val':val,'gid':gid,'oid':oid};
                    var success = function(response){
                        if(response[0] == 1){
                            $this.html('商品评价');
                            $('#sub').remove();
                            $('#textarea').remove();
                        }
                    }
                    $.get(url,data,success,'json');
                    return false;
                })
            })
            $('.fksh').bind("click",function(){
                var hl = $(this).val().trim();
                var id = $(this).parents('.order-infolist').find('.hidd').val();
                var $this = $(this);
                var data = '';
                var success = '';
                if(hl == '付款'){
                    data = {'id':id,'status':2};
                    success = function(response){
                        if(response[0] == 1){
                            $this.parents('.order-infolist').find('.stat_u').html('待发货');
                            $this.remove();
                        }
                    }
                }
                else if(hl == '收货')
                {
                    data = {'id':id,'status':4};
                    success = function(response){
                       if(response[0] == 1)
                            $this.parents('.order-infolist').find('.stat_u').html('已完成');
                            $this.parents('.order-infolist').find('.cl').html('商品评价');
                            $this.remove();
                    }
                }
                var url = "{:U('Home/Car/after_pay')}";
                $.get(url,data,success,'json')
            })
            $('#orderStatus').change(function(){
                var v = $(this).val();
                location.href = "{:U('Home/Center/allOrder/status/"+v+"')}"
            })
        })
    </script>  
</block>
