<extend name = "./Public/center"/>
<block name="beans">
<div class="main-content">
    <div class="main-jd">
        <span class="title">我的积分</span><!--span class="time time01">(-)</span-->
        <span class="title_2">积分明细&nbsp; <a class="jifen_rule_get" href="http://www.juanpi.com/help/jifen/1001422" target="_blank">积分获取规则&gt;&gt;</a><a class="jifen_rule_used" href="http://www.juanpi.com/help/jifen/1701422" target="_blank">积分使用规则&gt;&gt;</a></span>
        <div class="fan-box-1 clear">
            <div class="jifen_box">
                <div class="box_title">
                    <p></p>
                    <div class="titel_con">
                        <span>我的积分总余额</span>
                    </div>
                </div>
                <div class="jifen_num_box now">
                    <i class="jifen_logo"></i>
                    <span class="fc_f36">642</span>
                    <a target="_blank" href="http://www.juanpi.com/jifen/task">去赚积分&gt;&gt;</a>
                </div>
                <div class="bottom_box clear">
                    <a target="_blank" href="http://www.juanpi.com/jifen/gift" class="fl">积分兑换</a>
                    <a target="_blank" href="http://www.juanpi.com/jifen/lottery" class="fr">幸运抽奖</a>
                </div>
            </div>
            <div class="jifen_box jifen_box_border">
                <div class="box_title">
                    <p></p>
                    <div class="titel_con">
                        <span>最近一月累计进账积分</span>
                    </div>
                </div>
                <div class="jifen_num_box">
                    <i class="jifen_logo"></i>
                    <span class="old fc_f36">0</span>
                    <a href="/beans/datalist/choice/plus">查看更多&gt;&gt;</a>
                </div>
                <div class="bottom_box clear old">
                <span>您最近没有获得过积分哦，快去签到领积分吧！</span>
                </div>
            </div>
            <div class="jifen_box">
                <div class="box_title">
                    <p></p>
                    <div class="titel_con">
                        <span>最近一月累计消耗积分</span>
                    </div>
                </div>
                <div class="jifen_num_box">
                    <i class="jifen_logo"></i>
                    <span class="old fc_f36">0</span>
                    <a href="//user.juanpi.com/beans/datalist/choice/minus">查看更多&gt;&gt;</a>
                </div>
                <div class="bottom_box clear old">
                    <span>您最近没有获得过积分哦，快去签到领积分吧！</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-duihuan">
        <div class="duihuan-box">
            <ul>
                <li><a class="noboder tab_btn active" href="/beans/index/type/goods/beanstype/0">积分兑换记录<span class="red"></span></a></li>
                <li><a class="noboder tab_btn" href="/beans/index/type/goods/beanstype/1">幸运抽奖记录<span class="red"></span></a></li>
                <li><a class="noboder tab_btn" href="/beans/index/type/goods/beanstype/2">我的奖品<span class="red"></span></a></li>
                </ul>
            <div class="duihuan-nav clear">
                <span class="baby baby-xq-1">宝贝详情</span>
                <span class=" baby  baby-xq">价格/积分</span>
                <span class=" baby  baby-xq">类型</span>
                <span class=" baby  baby-add">地址</span>
                <span class=" baby  baby-xq">时间</span>
                <span class=" baby reluet">状态</span>
            </div>
            </div>
            <div class="goods">
                <div class="wz"><p>您当前还没有相关记录哦，快去<a class="blue" target="_blank" href="http://www.juanpi.com/jifen">积分商城</a>看看吧~ </p></div>
            </div>
    </div>
</div>
</block>
