<extend name = "./Public/center"/>
<block name="beans">
<div class="main-content">
    <div class="main-jd">
        <span class="title_2">我的积分</span><!--span class="time time01">(-)</span-->
        <div class="fan-box-1 clear">
            <div class="jifen_box">
                <div class="box_title" style="margin-top:33px">
                    <p></p>
                    <div class="titel_con">
                        <span>我的积分总余额</span>
                    </div>
                </div>
                <div class="jifen_num_box now">
                    <i class="jifen_logo"></i>
                    <span class="fc_f36">{$points}</span>
                    <a target="_blank" href="http://www.juanpi.com/jifen/task">签到赚积分&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
