<extend name = "./Public/userinfo"/>
<block name="binding">
    <div class="main-center">                
            <div class="box_top">
                <h3>账号绑定</h3>
            </div>
            <img src="__PUBLIC__/Home/Picture/line_1.jpg">
        <div class="per_content fl" style="display:block;">
            <div class="box clear">
            <p class="bind_p">
                <span class="deal">
                    提示：绑定主流社交网站账号，可以轻松的登录卷皮网并能快速地将你在卷皮网中觉得有趣的内容分享给相应网站上的朋友们！
                </span>
            </p>
            <ul class="bind-account-list" id="J_List">
            <li>
                <div class="account-item">
                    <span class="website-icon"><img src="__PUBLIC__/Home/Images/qqkj.jpg"></span>
                    <dl>
                        <dt>QQ空间</dt>
                        <dd class="operate">
                            <a class="J_bind" target="_blank" href="/connect/bind/type/qq"><span>马上绑定</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="jg"><img src="__PUBLIC__/Home/Images/line2.gif"></li>
            <li>
                <div class="account-item">
                    <span class="website-icon"><img src="__PUBLIC__/Home/Images/tb.jpg"></span>
                    <dl>
                        <dt>淘宝网</dt>
                        <dd class="operate">
                            <a class="J_bind" href="/connect/unbind/type/taobao/token/d8f2cba674d88d2b5f54ef66716bcbb4"><span>解除绑定</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="jg"><img src="__PUBLIC__/Home/Images/line2.gif"></li>
            <li>
                <div class="account-item">
                    <span class="website-icon"><img src="__PUBLIC__/Home/Images/sina_wb.jpg"></span>
                    <dl>
                        <dt>新浪微博</dt>
                        <dd class="operate">
                            <a class="J_bind" target="_blank" href="/connect/bind/type/sina"><span>马上绑定</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="jg"><img src="__PUBLIC__/Home/Images/line2.gif"></li>
            <li>
                <div class="account-item">
                    <span class="website-icon"><img src="__PUBLIC__/Home/Images/qq_wb.jpg"></span>
                    <dl>
                        <dt>腾讯微博</dt>
                        <dd class="operate">
                            <a class="J_bind" target="_blank" href="/connect/bind/type/tencent"><span>马上绑定</span></a>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
    </div>
    </div>
</block>
