<extend name = "./Public/userinfo"/>
<block name="reemail">
<div class="main-center">                
        <div class="box_top">
            <h3>安全中心</h3>
        </div>
	   <img src="__PUBLIC__/Home/Picture/line_1.jpg">
       <div class="per_content  fl safe_center">
        <form id="" action="{:U('Home/Center/do_check_question')}" method="POST">
            <ul>
                <li>
                    <label class="bold_phone">验证密保</label>
                    <a class="rose ml10" href="security?method=emailresetPhone"></a>
                </li>
            <div class='question'>
                <li class="reset_one">
                    <label>问题一：</label>
                    <select name="q1">
                        <option value="">{$res.q1}</option>
                    </select>
                    <input class="hidd" type="text" type="text" name='q1' style="display: none" placeholder="请输入问题">
                </li>
                
                <li class="reset_one">
                    <label>回答一：</label>
                    <input type="text" placeholder="请输入回答" size="15" value="" name="a1" class="text a1" tabindex="1">
                </li>
            </div>
            <div class='question'>
                <li class="reset_one">
                    <label>问题二：</label>
                    <select name="q2">
                        <option value="">{$res.q2}</option>
                    <foreach name="arr2" item="vo" >
                        <option value="{$vo}" >{$vo}</option>
                    </foreach>
                    </select>

                    <input class="hidd" type="text" name='q2' style="display: none" placeholder="请输入问题">
                </li>
            
                <li class="reset_one">
                    <label>回答二：</label>
                    <input type="text" placeholder="请输入回答" size="15" value="" name="a2" class="text a3" tabindex="1">
                </li>
            </div>
            <div class='question'>
                <li class="reset_one">
                    <label>问题三：</label>
                    <select name="q3">
                        <option value="">{$res.q3}</option>
                    <foreach name="arr3" item="vo" >
                        <option value="{$vo}" >{$vo}</option>
                    </foreach>
                    </select>

                    <input class="hidd" type="text" name='q3' style="display: none;" placeholder="请输入问题">
                </li>
                
                <li class="reset_one">
                    <label>回答三：</label>
                    <input type="text" placeholder="请输入回答" size="15" value="" name="a3" class="text a3" tabindex="1">
                </li>
            </div>

                <li class="reset_one">
                    <label></label>
                    <input type="submit" class="smt" id="smt_resetphone_one" value="提交" tabindex="5">
                </li>
            </ul>
        </form>
        </div>                                
     </div>
     <script type="text/javascript">
         $(function(){
             //一级分类 就是select中的首选项
             if ($('select').val()=='自定义问题') {
                $('select').parents('.question').find('.hidd').removeAttr('style');
             };
             
             $('select').change(function(){
                // select中的原来的值
                var sq = $(this).val();
                // 绑定selelct
                var select = $(this);
                if (sq!='自定义问题'){
                    // 隐藏input
                    select.parents('.question').find('.hidd').attr('value',sq).css('display','none');
                    
                return;
                }else{
                 //显示
                 select.parents('.question').find('.hidd').removeAttr('style');
                };
             })
             $('form').submit(function(){
                $('input').trigger('blur',function(){

                })
             })

         })
     </script>
</block>
