<extend name = "./Public/center"/>
<block name="coupon">
<div class="cash-voucher fr">
            <ul class="cv-menu">
                <li class="my-cv">全部优惠券</li>
                <li class="cv-tab">
                    <ul>
                       <li><a href="//user.juanpi.com/coupon/usable">可使用</a><span class="able">                        (0)</span></li>
                        <li><a href="//user.juanpi.com/coupon/used">已使用</a><span>                        (0)</span></li>
                        <li><a href="//user.juanpi.com/coupon/expired">已过期</a><span>                        (1)</span></li>
                    </ul>
                </li>
                <li class="cv-rule"><a target="_blank" href="http://www.juanpi.com/help/lists/top/1401490/pid/1101401/id/1901421">优惠券使用规则</a></li>
            </ul>
            <div class="activate coupon-active">
                <span>激活新优惠券:</span>
                <input type="text" autocomplete="off" id="activate-code" value="">
                <div class="activate-button" style="cursor: default;">激活</div>
            </div>
            <div class="cv-list">
                <ul>
                    <li class="pc discount timeout">
								<div class="cv-value">
                                      满<span>2</span>减<span>2</span>元
                                 </div>
                                 <div class="cv-details">
                            <p title="全场通用">适用范围:全场通用</p>
                            <p class="coupon_time">有效时间：2016-02-25 19:42 至 2016-03-26 19:42</p>
                        </div>
                        <div class="used-tag"></div>      
                    </li>
                </ul>
                <div class="page">
                    <div>
                    </div>
                </div>
            </div>
        </div>
</block>
