<extend name = "./Public/center"/>
<block name="favorite">
<div class="main pr mt20 clear">
	    	    <div class="favorite-hd">
	       <h3>我的收藏</h3>
	       <em class="number">(共2件商品)</em>
	       		       		   <a target="_blank" class="active" href="http://www.juanpi.com/group/1782424">枣</a>
		       		           <a target="_blank" class="active" href="http://www.juanpi.com/group/1375411">阿胶糕</a>
		       		           <a target="_blank" class="active" href="http://www.juanpi.com/group/1975485">手串</a>
		       		           <a target="_blank" class="active" href="http://www.juanpi.com/group/1795475">固元糕</a>
		       		           <a target="_blank" class="active" href="http://www.juanpi.com/group/1386483">佛珠手串</a>
		       	       	    </div>
        <ul class="goods-list clear ">
                        <li gtype="3" g_type="3" re="" id="9670015" class="">
			    <div class="list-good buy">
			        <div class="good-pic">
			            <a class="pic-img" target="_blank" href="http://shop.juanpi.com/deal/9670015">
			                <img d-src="//s2.juancdn.com/bao/160505/2/3/572aabb592be59468f8b4570_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy good-pic" src="//s2.juancdn.com/bao/160505/2/3/572aabb592be59468f8b4570_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" style="display: inline;" alt="绣标翻领舒适运动套装">
	                        	 <span class="new-icon">新品</span>
	                      		</a>
                    		</div>
			        <h3 class="good-title">
                        【包邮】<a target="_blank" href="http://shop.juanpi.com/deal/9670015">绣标翻领舒适运动套装</a>
                        <div style="display:none;" class="icon-all">
                          </div>
			            <!-- <span class="sold">已售<em>0</em></span> -->
			            <span class="sold">新品上架</span>
			        </h3>
			        <div class="good-price">
			            <span class="price-current"><em>￥</em>49</span>
			            <span class="des-other">
			                                                <strong></strong>
                                                        <span class="price-old"><em>￥</em>198</span>
                            <span class="discount">(<em>2.5</em>折)</span>
			            </span>
			                         <div class="btn buy j-buy">
	                                <a target="_blank" href="http://shop.juanpi.com/deal/9670015"><em class="j-icon"></em><span>特卖</span></a>
	                            </div>
                              </div>
                    <a class="my-like" href="javascript:void(0)">
                        <i data="9670015" g_type="3" class="del-ico"></i>
                    </a>
			        
			    </div>
			</li>
                        <li gtype="3" g_type="3" re="" id="9870043" class="">
			    <div class="list-good buy">
			        <div class="good-pic">
			            <a class="pic-img" target="_blank" href="http://shop.juanpi.com/deal/9870043">
			                <img d-src="//s2.juancdn.com/bao/160505/7/0/572aabdc92be5980838b4587_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy good-pic" src="//s2.juancdn.com/bao/160505/7/0/572aabdc92be5980838b4587_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" style="display: inline;" alt="简约条纹百搭POLO衫">
	                        	                            <span class="new-icon">新品</span>
	                        			            </a>
                        			        </div>
			        <h3 class="good-title">
                        【包邮】<a target="_blank" href="http://shop.juanpi.com/deal/9870043">简约条纹百搭POLO衫</a>
                        <div style="display:none;" class="icon-all">
                            </div>
			            <!-- <span class="sold">已售<em>0</em></span> -->
			            <span class="sold">新品上架</span>
			        </h3>
			        <div class="good-price">
			            <span class="price-current"><em>￥</em>49</span>
			            <span class="des-other">
			                                                <strong></strong>
                                                        <span class="price-old"><em>￥</em>599</span>
                            <span class="discount">(<em>0.8</em>折)</span>
			            </span>
			                        <div class="btn buy j-buy">
	                                <a target="_blank" href="http://shop.juanpi.com/deal/9870043"><em class="j-icon"></em><span>特卖</span></a>
	                            </div>
                            </div>
                    <a class="my-like" href="javascript:void(0)">
                        <i data="9870043" g_type="3" class="del-ico"></i>
                    </a>
			    </div>
			</li>
         </ul>
	    <div class="al_center"></div>
	</div>
</block>
