<extend name = "./Public/center"/>
<block name="allOrder">
    <div class="order-lists">
            <div class="all-orders">
                <div class="all-orders-top">
                    <span><strong>全部订单</strong>(最近三个月订单)</span>
                    <span class="order_t">
                       <select class="state-select" name="status" id="orderStatus">
                           <option value="all" data-msg="订单状态">订单状态</option>
                           <option value="1" data-msg="待付款">待付款</option>
                           <option value="3" data-msg="待发货">待发货</option>
                           <option value="4" data-msg="运送中">运送中</option>
                           <option value="5" data-msg="已送达">已送达</option>
                           <option value="6" data-msg="已关闭">已关闭</option>
                           <!-- <option value="20"  data-msg="售后处理中">售后处理中</option>-->
                       </select>
                   </span>
                    <a href="###.juanpi.com/order/index/flag/1">查看所有订单&gt;&gt;</a>
                </div>
                <!-- 防诈骗BANNER图片BEGIN -->
                                        <div class="fraud-banner">
                        <span> </span>
                    </div>
                                    <!-- 防诈骗BANNER图片END -->
            </div>
        
                                <div class="order-infolist mb20">
    <div class="order-info-hd">
        <span class="order-time">2016-03-11 18:55:05</span>
                        <span class="order-no" _soid_no="314576937049262" _order_no="314576937049262" orderback="0"><b>订单号：</b>314576937049262</span>
                        <span class="seller">商家：山予味道</span>
                        <span class="bin closebtn closebtnAction" href="javascript:;" _soid_no="314576937049262"></span>
                </div>
    <dl class="my-order-list">
        <dd>
                                                <!-- class="last-goods" -->
                    <ul class="last-goods">
                    <li class="oi-goods">
                        <a class="aimg" target="_blank" href="http://shop.juanpi.com/deal/6937042">
                            <img width="60px" height="60px" src="//s2.juancdn.com/bao/151203/b/6/565fb95592be59335d8b457b_800x800.jpg?iopcmd=thumbnail&amp;type=8&amp;width=100&amp;height=100%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                        <div class="con">
                            <a target="_blank" href="http://shop.juanpi.com/deal/6937042">
                                <div class="good-name">山予闽南荔枝干(500g)</div>
                            </a>
                            <div class="other"></div>
                        </div>
                    </li>
                    <li class="oi-price"></li>
                    <li class="oi-price-paid"></li>
                    <li class="oi-other">
                        <a href="###.juanpi.com/refund?giOrderId=52570392&amp;boid=&amp;botype=" target="_blank"></a> 
                    </li>

                        <!-- <a>退货/退款</a> <p>售后完成</p> -->
                    <li class="oi-count">
                            <p class="all"><em class="u-yen">¥</em><span>10.80</span></p>
                            <div class="mobile_order"><i></i>手机订单<div></div></div>
                    </li>
                    <li class="oi-status">
                            <p>
                               <b class="wait-pay">已送达</b>
                            </p>
                            <p><a href="###.juanpi.com/order/detail/orderId/314576937049262" target="_blank">订单详情</a></p>
                            <p><a href="###.juanpi.com/order/detail/orderId/314576937049262#logistics" target="_blank">订单跟踪</a></p>
                    </li>
                    <li class="oi-button">
                    </li>
                </ul>
            </dd>
    </dl>
</div>
</div>
</block>
