<extend name = "./Public/center"/>
<block name="backList">
 <style type="text/css">
.nocv{width: 800px;height: 30px;margin:0 auto;}
.nocv li{display:block;float:left;margin-left: 20px;font-size:20px;}
.shou:hover {cursor:pointer;}
.kuan:hover {cursor:pointer;}
.ser{width: 1200px;height: 100%;}
.ser table th{text-align: center;color:#808080;font-size: 15px;}

 </style>
<div class="order-lists">
    <div class="all-orders">
        <div class="all-orders-top">
            <span><strong style="border: 0px">近三个月售后单</strong></span>
            <a href="//user.juanpi.com/refund/backList/flag/1">历史售后单&gt;&gt;</a>
        </div>
    </div>
    <div class="nocv">
    	<span><ul><li><a class="shou">我的售后</a></li>
    		<li><a class="kuan">我的退款</a></li>
		</ul>
	</span>
    </div>
   
</div>
  <div class="ser">
	<table>
		<tr>
			<th style="width: 160px;" >退款编号</th>
			<th style="width: 160px;" >订单编号/宝贝信息</th>
			<th style="width: 120px;" >卖家</th>
			<th style="width: 120px;" >交易金额</th>
			<th style="width: 110px;" >退款金额</th>
			<th style="width: 160px;" >申请时间</th>
			<th style="width: 160px;" >退款状态</th>
			<th style="width: 100px;" >操作</th>
		</tr>
	</table>



</div>
</block>
