<extend name = "./Public/userinfo"/>
<block name="repass">
	<div class="main-center">                
            <div class="box_top">
                <h3>安全中心</h3>
            </div>
	    	<img src="__PUBLIC__/Home/Picture/line_1.jpg">
           <div class="per_content safe_center fl">
		<div id="resetpwd">
		<p class="check_title">
		    <label>登录密码</label>
		    <span class="safe_phone">建议密码由8位以上数字、字母和特殊字符组成，并定期修改。</span>
		</p>
<ul>
    <li>
        <label>原密码：</label>
        <input type="password" size="30" name="oddpassword" class="text newpwd" tabindex="2">
        <span class="error-box" id="new_pwd"></span>
        <p class="s16">请输入原密码</p>
        <dl class="ps_intensity" style="display:none;">
            <dd></dd><dd></dd><dd></dd>
        </dl>
    </li>
    <li>
        <label>新改密码：</label>
        <input type="password" size="30" name="password" class="text newpwd" tabindex="2">
        <span class="error-box" id="new_pwd"></span>
        <p class="s16">请输入新密码</p>
        <dl class="ps_intensity" style="display:none;">
            <dd></dd><dd></dd><dd></dd>
        </dl>
    </li>
    <li>
        <label>确认密码：</label>
        <input type="password" size="30" name="npassword" class="text confirmpwd" tabindex="3">
        <span class="error-box" id="new_pwdcheck"></span>
        <p class="s16">请再次输入新密码</p>
    </li>


    <style>
        .my-mobile{ width:257px; height:38px; line-height:38px; text-indent:5px; display:inline-block; background:#eee; border:1px solid #c6c6c6;}
        .phone-verify{
            background: #e2e2e2 none repeat scroll 0 0;
            color: #666666;
            cursor: pointer;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            width: 110px;
            border:none;
        }
        .phone-verify:hover{
            color:#f36;
        }
        p.msg_error{ color:#ff3838;}
    </style>
    <li>
        <label>邮箱：</label>
        <span class="my-mobile"></span><span style="padding-left:15px;" class="error-box" id="phone_error"></span>
        <p class="s16">&nbsp;</p>
    </li>

    <li id="verify_display">
        <label>验证码：</label>
        <input type="text" tabindex="5" autocomplete="off" name="code" style="width:136px;" class="text">
        <div class="verification-code"><input type="button" value="获取短信验证码" class="phone-verify"></div>
        <div warn="请输入短信验证码" style="text-indent:82px; color:#ff3838" id="code_warn" class="error-box"></div>
    </li>
    <li>
        <label></label>
        <a class="smt" href="javascript:;">修&nbsp;改</a>
    </li>
</ul>
</div>
</div>                                
	</div>
</block>
