<extend name = "./Public/userinfo"/>
<block name="security">
<div class="main-center">
    <div class="box_top">
        <h3>安全中心</h3>
    </div>
        <img src="__PUBLIC__/Home/Picture/line_1.jpg">
        <div class="per_content fl safe_center">
            <div class="safe_rank">
                <label style="padding-top: 2px;">安全等级：</label>
                <span class="rank">高</span>
                <div class="default_bg"><span class="rank_03"></span></div>
                <p class="result">您的账号存在<span>0</span>项风险</p>
            </div>
            <div class="safe_info safe_modify">
                <ul>
                    <li class="bb">
                        <div class="detail"><span class="public anquan-d"></span><span class="risk_pasword">登录密码</span><span class="tips">您的密码强度还不够强，建议您修改密码。密码需以数字和大小写字母组合。</span><a class="modify_pd" href="{:U('Home/Center/repass')}">修改</a>
                        </div>
                    </li>
                    <li class="bb">
                        <div class="detail"><span class="public anquan-d"></span><span class="risk_pasword">设置密保</span><span class="tips">为了您的账户安全请设置密保问题</span><a class="modify_pd" href="{:U('Home/Center/question')}">修改</a>
                        </div>
                    </li>
                    <li class="bb">
                        <div class="detail">
                            <span class="risk_tit"><i class="ffz">邮箱认证</i></span>
                            <span class="tips01">当前认证的邮箱：89***@qq.com</span>
                            <a class="modify_pd" href="{:U('Home/Center/reemail')}">修改</a>
                            <p class="s14">忘记密码时，此邮箱可以帮你找回密码。</p>
                        </div>
                    </li>
                    <li>
                        <div class="detail">
                            <span class="modify_tit"><i class="ffz">手机认证</i></span><span class="tips01">当前认证的手机号：185******85</span>
                            <a class="modify_pd" href="{:U('Home/Center/rephone')}">修改</a>
                            <p class="s14">认证手机后，可免费升级更高级别的安全服务，有效保障您的帐户和资金安全！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block>
